<!--
Header start
==================== -->
{{- with .Site.Params.header }}
<section class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center">
      {{- with .image }}
        <img style="width: 150px;" style="height: 150px;"src="{{ relURL .path }}" alt="{{ .alt }}">
      {{- end }}
      </div>
      <div class="col-md-12 col-xs-12 text-center">
        <div class="block">
          <h1 class="">{{ .title }}</h1>
          <p>{{ .text }}</p>
        {{- with .button }}
          <a class="btn btn-main" href="{{ .link }}" role="button">{{ .text }}</a>
        {{- end }}
        </div>
      </div>
    </div><!-- .row close -->
  </div><!-- .container close -->
</section><!-- header close -->
{{- end }}